.header{
    margin-top: -23px;
    background-color: rgb(7, 7, 43);
    border-bottom: 3px solid red;
}

 #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    width:230px;
  }

 #search{
   height:30px;
   width:200px;
 }