.navbar-brand {
  text-transform: uppercase;
  color: white !important;
  font-weight: bold;
}

nav {
  background-color: rgb(7, 7, 59) !important;
  border-bottom: 5px solid red;
}

#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 230px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  width: 250px;
}

#search {
  height: 30px;
  width: 200px;
}
